<div class="center hero-unit">

    <h1>About Us</h1>

    <h2>
      You've found the about page for the
      <%= link_to "One Month Rails", 'http://www.onemonthrails.com' %>
      first application.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, :class => "btn btn-large btn-primary" %>
</div>