<div class="row">
  
  <div class="span2">

	<ul class="nav nav-list">
	  <li class="nav-header">ProDUCTS!</li>
	  <li class="active"><a href="#">Home</a></li>
	  <li><a href="#">Products</a></li>
	  <li><a href="#">About</a></li>
	  <li><a href="#">Contact</a></li>
	</ul>

  </div>
  
  <div class="span10">
	<div class="center hero-unit">

    	<h1>Contact Us</h1>

    	<h2>
	      You've found the contact page for the
	      <%= link_to "One Month Rails", 'http://www.onemonthrails.com' %>
	      first application.
	    </h2>

	    <%= link_to "Sign up now!", new_user_registration_path, :class => "btn btn-large btn-primary" %>
	</div>
  </div>
</div>