<div class="center hero-unit">

    <h1>Products</h1>

    <h2>
      Prodcuts for this site  can be found on this page, my
      <%= link_to "One Month Rails", 'http://www.onemonthrails.com' %>
      first application.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, :class => "btn btn-large btn-primary" %>
</div>